<%- include('../includes/head') %>
</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="user-list p-3 my-2">
                        <div class="brand px-3 mb-2">
                            <h1 class="text-white">What's Up, Bro!</h1>
                        </div>

                    </div>
                </div>
                <div class="col-md-8">

                </div>
            </div>
        </div>
<%- include('../includes/end') %>