<%- include('../includes/head') %>
</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="p-3 my-2">
                        <div class="brand p-3 mb-2">
                            <h1 class="text-white">What's Up, Bro!</h1>
                        </div>
                        <%- include('../includes/user-list') %>
                    </div>
                </div>
                <div class="col-md-8 d-none d-md-block">
                    <div class="chat-comp p-3 mt-4 d-flex flex-column">
                        <div class="room-info pb-1 border-bottom border-primary-subtle d-flex">
                            <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                alt="avatar" class="d-flex align-self-center me-3" width="60"
                            >
                            <div class="user-info text-white align-self-center">
                                <h3 class="mb-1">Chat room</h3>
                                <p class="mb-0">Pay attention to notifications</p>
                            </div>
                        </div>

                        <div class="message-view my-2">
                            <div class="message-content-sender d-flex flex-row justify-content-start align-items-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                    alt="avatar 1" style="width: 54px; height: 54px;"
                                >
                                <div>
                                    <p class="mb-0 ms-3 text-white">Ahn Hao</p>
                                    <p class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary">Lorem ipsum
                                        dolor
                                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore
                                        magna aliqua.
                                    </p>
                                    <p class="small ms-3 mb-3 rounded-3 text-white float-end">12:00 PM | Aug 13</p>
                                </div>
                            </div>
                            <div class="message-content-recipient d-flex flex-row justify-content-end align-items-center">
                                <div>
                                    <p class="mb-0 me-3 text-white" style="text-align: right;">Ahn Hao</p>
                                    <p class="small p-2 me-3 mb-1 rounded-3 bg-body-tertiary">Lorem ipsum
                                        dolor
                                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore
                                        magna aliqua.
                                    </p>
                                    <p class="small me-3 mb-3 rounded-3 text-white float-start">13:00 PM | Aug 13</p>
                                </div>
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                    alt="avatar 1" style="width: 54px; height: 54px;"
                                >
                            </div>
                        </div>

                        <div class="message-box border-top border-primary-subtle d-flex align-items-center">
                            <form action="" class="w-100 px-3">
                                <input type="text" placeholder="Enter your message..." class="message-input px-3 py-2">
                                <button type="submit" class="message-button ms-3 px-4 py-2">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<%- include('../includes/end') %>