<div class="user-container py-1">
    <ul class="user-list list-unstyled mb-0">
        <li class="user-item active">
            <a href="/" class="py-2 ps-3 d-flex align-items-center link-underline link-underline-opacity-0">
                <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                    alt="avatar" class="d-flex align-self-center me-3" width="60"
                >
                <div class="user-info text-white align-self-center">
                    <h3 class="mb-1">Chat room</h3>
                    <p class="mb-0">Notification</p>
                </div>
            </a>
        </li>
        
        <li class="user-item">
            <a href="" class="py-2 ps-3 d-flex align-items-center link-underline link-underline-opacity-0">
                <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                    alt="avatar" class="d-flex align-self-center me-3" width="60"
                >
                <div class="user-info text-white align-self-center">
                    <h3 class="mb-1">Ahn Hao</h3>
                    <p class="mb-0">happy</p>
                </div>
            </a>
        </li>

        <li class="user-item">
            <a href="" class="py-2 ps-3 d-flex align-items-center link-underline link-underline-opacity-0">
                <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                    alt="avatar" class="d-flex align-self-center me-3" width="60"
                >
                <div class="user-info text-white align-self-center">
                    <h3 class="mb-1">Ahn Hao</h3>
                    <p class="mb-0">happy</p>
                </div>
            </a>
        </li>

        <li class="user-item">
            <a href="" class="py-2 ps-3 d-flex align-items-center link-underline link-underline-opacity-0">
                <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                    alt="avatar" class="d-flex align-self-center me-3" width="60"
                >
                <div class="user-info text-white align-self-center">
                    <h3 class="mb-1">Ahn Hao</h3>
                    <p class="mb-0">happy</p>
                </div>
            </a>
        </li>

        <li class="user-item">
            <a href="" class="py-2 ps-3 d-flex align-items-center link-underline link-underline-opacity-0">
                <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                    alt="avatar" class="d-flex align-self-center me-3" width="60"
                >
                <div class="user-info text-white align-self-center">
                    <h3 class="mb-1">Ahn Hao</h3>
                    <p class="mb-0">happy</p>
                </div>
            </a>
        </li>

        <li class="user-item">
            <a href="" class="py-2 ps-3 d-flex align-items-center link-underline link-underline-opacity-0">
                <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                    alt="avatar" class="d-flex align-self-center me-3" width="60"
                >
                <div class="user-info text-white align-self-center">
                    <h3 class="mb-1">Ahn Hao</h3>
                    <p class="mb-0">happy</p>
                </div>
            </a>
        </li>

        <li class="user-item">
            <a href="" class="py-2 ps-3 d-flex align-items-center link-underline link-underline-opacity-0">
                <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                    alt="avatar" class="d-flex align-self-center me-3" width="60"
                >
                <div class="user-info text-white align-self-center">
                    <h3 class="mb-1">Ahn Hao</h3>
                    <p class="mb-0">happy</p>
                </div>
            </a>
        </li>

        <li class="user-item">
            <a href="" class="py-2 ps-3 d-flex align-items-center link-underline link-underline-opacity-0">
                <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                    alt="avatar" class="d-flex align-self-center me-3" width="60"
                >
                <div class="user-info text-white align-self-center">
                    <h3 class="mb-1">Ahn Hao</h3>
                    <p class="mb-0">happy</p>
                </div>
            </a>
        </li>

        <li class="user-item">
            <a href="" class="py-2 ps-3 d-flex align-items-center link-underline link-underline-opacity-0">
                <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                    alt="avatar" class="d-flex align-self-center me-3" width="60"
                >
                <div class="user-info text-white align-self-center">
                    <h3 class="mb-1">Ahn Hao</h3>
                    <p class="mb-0">happy</p>
                </div>
            </a>
        </li>

        <li class="user-item">
            <a href="" class="py-2 ps-3 d-flex align-items-center link-underline link-underline-opacity-0">
                <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                    alt="avatar" class="d-flex align-self-center me-3" width="60"
                >
                <div class="user-info text-white align-self-center">
                    <h3 class="mb-1">Ahn Hao</h3>
                    <p class="mb-0">happy</p>
                </div>
            </a>
        </li>
    </ul>
</div>