<div class="user-container py-1">
    <ul class="user-list list-unstyled mb-0">
        <li class="user-item <%= path === '/' ? 'active' : ''  %>">
            <a href="/index" class="py-2 ps-3 d-flex align-items-center link-underline link-underline-opacity-0">
                <img
                    src="/public/images/main-image/chat-room-logo.jpg"
                    alt="avatar" class="d-flex align-self-center me-3 rounded-circle" width="60"
                >
                <div class="user-info text-white align-self-center">
                    <h3 class="mb-1">Chat room</h3>
                    <p class="mb-0">Notification</p>
                </div>
            </a>
        </li>
        <% users.forEach(user => { %>
            <li class="user-item">
                <a href="" class="py-2 ps-3 d-flex align-items-center link-underline link-underline-opacity-0">
                    <img
                        src="/<%= user.avatarImageUrl %>"
                        alt="avatar" class="d-flex align-self-center me-3 rounded-circle" width="60"
                    >
                    <div class="user-info text-white align-self-center">
                        <h3 class="mb-1"><%= user.username %></h3>
                        <p class="mb-0">Notification</p>
                    </div>
                </a>
            </li>
        <% }) %>
    </ul>
</div>